In [23]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('./data/train.csv',parse_dates=['datetime'])

In [5]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [6]:
df['count'].mean()

191.57413191254824

In [29]:
y=df['count']
X=df[['datetime']]

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [31]:
y_test.shape

(2722,)

In [32]:
y_train.mean()

193.02731504164626

In [33]:
X_test

                datetime
7018 2012-04-10 18:00:00
9983 2012-11-01 08:00:00
3581 2011-08-19 03:00:00
1153 2011-03-12 17:00:00
2322 2011-06-04 16:00:00
...                  ...
142  2011-01-07 05:00:00
2678 2011-06-19 12:00:00
1234 2011-03-16 06:00:00
9644 2012-10-06 05:00:00
3477 2011-08-14 19:00:00

[2722 rows x 1 columns]

In [34]:
X_test['count']=y_train.mean()
X_test['count']

<ipython-input-34-1aa48d29e2ca>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['count']=y_train.mean()

7018    193.027315
9983    193.027315
3581    193.027315
1153    193.027315
2322    193.027315
           ...
142     193.027315
2678    193.027315
1234    193.027315
9644    193.027315
3477    193.027315
Name: count, Length: 2722, dtype: float64

In [35]:
y_pred = np.array(X_test['count'])

In [37]:
metrics.mean_absolute_error(y_test, y_pred)

143.65313227981414

In [7]:
kaggle = pd.read_csv('./data/test.csv', parse_dates=['datetime'])

In [8]:
kaggle['count'] = df['count'].mean()

In [9]:
kaggle.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,191.574132
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,191.574132
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,191.574132
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,191.574132
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,191.574132

In [11]:
output = pd.DataFrame({'datetime': kaggle.datetime, 'count': kaggle['count']})
output.to_csv('./output/kaggle_bike_baseline_submission.csv', index=False)